.social-icons{
  text-decoration: none;
  margin-right: 1rem;
}

.social-icons:hover{
  text-decoration: none;
}

.social-icons:hover path, .social-icons:hover rect, .social-icons:hover circle{
  fill: #007bff;
}

.social-icons:last-child{
  margin-right: 0;
}

.filters input{
  display: none;
}

.filters label{
  cursor: pointer;
}

.filters input:checked+label{
  background: #007bff;
  color: white;
}


