{% include 'partials/header.twig' %}

<main class="projects">
    <h1>My projects</h1>
    <div>
        <h3>Order by :</h3>
        {% for _project_category in project_categories %}
            <input type="checkbox" name="cat" id="{{ _project_category.id }}" value="{{ _project_category.id }}">
            <label for="{{ _project_category.id }}">{{ _project_category.name|capitalize }}</label>
        {% endfor %}
    </div>
    <div class="js-result">
        {% include 'partials/projects.twig' %}
    </div>
</main>

{% include 'partials/footer.twig' %}