{% extends 'bases/container.twig' %}

{% block content %}

<main class="projects">
    <h1 class="mb-4">My projects</h1>
    <div class="mb-4 filters">
        <h3 class="mb-3">You can order them by :</h3>
        {% for _project_category in project_categories %}
            <input type="checkbox" name="cat" id="{{ _project_category.id }}" value="{{ _project_category.id }}">
            <label class="btn btn-outline-primary" for="{{ _project_category.id }}">{{ _project_category.name|capitalize }}</label>
        {% endfor %}
    </div>
    <div class="js-result row">
        {% include 'partials/projects.twig' %}
    </div>
</main>

{% endblock content %}